# This file is for storing sensitive data that would
# otherwise be exposed in osu_acc/settings.py

# Application
SECRET_KEY = 'my_secret_key'

# Database
DATABASE_USERNAME = 'my_username'
DATABASE_PASSWORD = 'my_password'
