Replay ID: {{ replay_id }} <br>
Play Date: {{ play_date }} <br> <br>

Song Artist: {{ song_artist }} <br>
Song Title: {{ song_title }} <br> <br>

Beatmap ID: {{ beatmap_id }} <br>
Beatmap Creator: {{ beatmap_creator }} <br>
Circle Size: {{ beatmap_cs }} <br>
Overall Difficulty: {{ beatmap_od }} <br> <br>

Raw Accuracy: {{ raw_accuracy }} <br>
Raw 300s: {{ num_raw_300 }} <br>
Raw 100s: {{ num_raw_100 }} <br>
Raw 50s: {{ num_raw_50 }} <br>
Raw Misses: {{ num_raw_miss }} <br> <br>

True Accuracy: {{ true_accuracy }} <br>
True 300s: {{ num_true_300 }} <br>
True 100s: {{ num_true_100 }} <br>
True 50s: {{ num_true_50 }} <br>
True Misses: {{ num_true_miss }} <br> <br>

Min Negative Hit Error: {{ min_neg_hit_error }} <br>
Max Negative Hit Error: {{ max_neg_hit_error }} <br>
Avg Negative Hit Error: {{ avg_neg_hit_error }} <br> <br>

Min Positive Hit Error: {{ min_pos_hit_error }} <br>
Max Positive Hit Error: {{ max_pos_hit_error }} <br>
Avg Positive Hit Error: {{ avg_pos_hit_error }} <br> <br>

Min Absolute Hit Error: {{ min_abs_hit_error }} <br>
Max Absolute Hit Error: {{ max_abs_hit_error }} <br>
Avg Absolute Hit Error: {{ avg_abs_hit_error }} <br>
